*{
    margin: 0;
    padding: 0;
}

/* shared style  */

.myopen-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.orange{
    color: #FD6E0A ;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

/* main style  */

header{
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8;
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    
}

.menu a{
    text-decoration: none;
    color: #474747;
    font-weight: 350;
    font-size: 20px;
}

#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
}

.content h1{
    font-size: 45px;
    font-weight: normal;
    color: #474747;
    margin-bottom: 5px;
}
.content h2{
    font-size: 86px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;

}

.content p{
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.image img{
    vertical-align: middle;
}

.team{
    display: flex;
    gap: 30px;
}